@charset "utf-8";
/* Incomms Part KDY 160322 */

/* common */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,audio,video{margin:0;padding:0}
body,input,textarea,select,table,button,code{font-family:helvetica,AppleSDGothicNeo,sans-serif;font-size:16px;line-height:1.25em}
html{font-size:10px;line-height:10px}
html.font_big{font-size:12px}
body{position:relative;background-color:#fff;color:#000;word-wrap:break-word;word-break:break-all}
html.font_big body{font-size:19px}
body.s{-webkit-text-size-adjust:none}
.it,textarea{border:1px solid #bcbcbc}
img,fieldset{border:0}
img{vertical-align:middle}
ul,ol,li{list-style:none}
em,address,cite,dfn{font-style:normal}
a{color:inherit;text-decoration:none}
table{border-collapse:collapse}
hr,.display_n{display:none!important}
.hc,.u_hc,.u_skip{visibility:hidden;overflow:hidden;position:absolute!important;left:-999px;width:0;height:0;font-size:0;line-height:0}
.u_vc{display:inline-block;overflow:hidden;position:absolute;width:1px;height:1px;font-size:1px;line-height:1px;text-indent:4px;white-space:nowrap}

/* header */
.cs_mapbridge .ar_wrap{position:relative}
.cs_mapbridge .ar_header{position:fixed;top:0;right:0;left:0;width:100%;height:50px;padding:0 12px;background-color:#00c73c;font-size:19px;line-height:51px;color:#000;text-align:center;box-sizing:border-box;-webkit-box-sizing:border-box;z-index:50}
.cs_mapbridge .ar_header:after{position:absolute;bottom:-1px;left:0;right:0;width:100%;height:1px;background-color:#00c73c;content:''}
.cs_mapbridge .ar_header:before{position:absolute;top:0;left:0;right:0;width:100%;height:1px;background-color:#00b336;content:''}
.cs_mapbridge .ar_header:after{position:absolute;bottom:0;left:0;right:0;width:100%;height:1px;background-color:#00ba38;content:''}
.cs_mapbridge .ar_header h1{color:#fff;font-size:19px;font-weight:normal}
.cs_mapbridge .ar_header .btn_back{display:inline-block;overflow:hidden;position:absolute;top:5px;left:10px;width:40px;height:40px;background:url(../im/sp_ico.png) no-repeat -97px -274px;background-size:400px 300px;-webkit-background-size:400px 300px;color:transparent}

/* 상단 버튼*/
.cs_mapbridge .btn_class.tab{display:block;width:100%;position:fixed;top:50px;background-color:#fff;z-index:50}
.cs_mapbridge .btn_class.tab:after{position:absolute;bottom:-1px;left:0;right:0;height:1px;background-color:rgba(0,0,0,.1);content:''}
.cs_mapbridge .btn_class.tab ul{overflow:hidden;width:100%;height:42px;white-space:nowrap}
.cs_mapbridge .btn_class.tab li{display:inline-block;width:50%;height:40px;position:relative;color:#dadada;font-size:15px;text-align:center;background-color:#fff}
.cs_mapbridge .btn_class.tab li.on{color:#27bf55}
.cs_mapbridge .btn_class.tab li a,li.on a{display:block;width:100%;padding-top:10px;position:absolute;top:0;left:0;right:0;bottom:0}
.cs_mapbridge .btn_class.tab li .rest,.rest2{display:inline-block;background:url(../im/sp_area.png) no-repeat;background-size:150px 95px;-webkit-background-size:150px 95px;vertical-align:middle}
.cs_mapbridge .btn_class.tab li .rest{width:15px;height:18px}
.cs_mapbridge .btn_class.tab li .rest2{width:20px;height:18px;background-position:-18px 0}
.cs_mapbridge .btn_class.tab li.on .rest,.btn_class li.on .rest2{display:inline-block;background:url(../im/sp_area.png) no-repeat;background-size:150px 95px;-webkit-background-size:150px 95px;vertical-align:middle}
.cs_mapbridge .btn_class.tab li.on .rest{;width:15px;height:18px;background-position:0 -20px}
.cs_mapbridge .btn_class.tab li.on .rest2{width:20px;height:18px;background-position:-17px -20px}
.cs_mapbridge .btn_class.tab li .btn_txt{display:inline-block;margin:2px 0 0 7px;vertical-align:middle}
.cs_mapbridge .btn_class.tab li:first-child:after{content:'';display:inline-block;width:2px;height:20px;background:url(../im/sp_area.png) no-repeat -47px 0;background-size:150px 95px;-webkit-background-size:150px 95px;position:absolute;top:12px;right:0;z-index:10}
.cs_mapbridge .btn_class.tab+.ar_content .map_area .control_zoom{top:102px;right:9px}
.cs_mapbridge .btn_class.tab+.ar_content .map_area .control_zoom:after{position:absolute;top:36px;left:0;width:100%;height:1px;background-color:#dfdee1;content:''}
.cs_mapbridge .btn_class.tab+.ar_content .map_area .btn_zoomin .spm{width:18px;height:18px;background-position:-98px -46px;vertical-align:-2px}
.cs_mapbridge .btn_class.tab+.ar_content .map_area .btn_zoomin.off .spm{width:18px;height:18px;background-position:-98px -66px;vertical-align:-2px}
.cs_mapbridge .btn_class.tab+.ar_content .map_area .btn_zoomout .spm{width:18px;height:2px;background-position:-127px -51px;vertical-align:4px}
.cs_mapbridge .btn_class.tab+.ar_content .map_area .btn_zoomout.off .spm{width:18px;height:4px;background-position:-128px -54px;vertical-align:4px}
.cs_mapbridge .btn_class.tab+.ar_content .map_area .control_reset{top:102px;left:9px}
.cs_mapbridge .btn_class.tab+.ar_content .map_area .control_reset button{width:36px;height:36px;font-size:12px;line-height:38px;color:#7a8092;text-align:center}
.cs_mapbridge .btn_class.tab+.ar_content .map_area .control_reset .spm{width:20px;height:20px;margin-top:8px;background-position:-127px -19px}
.cs_mapbridge .btn_class.tab+.ar_content .map_area .control_myposition{top:147px;left:9px}
.cs_mapbridge .btn_class.tab+.ar_content .map_area .control_myposition button{width:36px;height:36px;font-size:12px;line-height:38px;color:#7a8092;text-align:center}
.cs_mapbridge .btn_class.tab+.ar_content .map_area .control_myposition .spm{width:22px;height:22px;margin-top:7px;background-position:-92px -19px}
.cs_mapbridge .btn_class{display:none}
.cs_mapbridge .btn_class+.ar_content .map_area .spm{display:inline-block;overflow:hidden;width:21px;height:21px;background:url(../im/sp_area.png) no-repeat;background-size:150px 95px;-webkit-background-size:150px 95px;color:transparent;content:''}
.cs_mapbridge .btn_class+.ar_content .map_area .control_zoom{top:65px;right:9px}
.cs_mapbridge .btn_class+.ar_content .map_area .control_zoom:after{position:absolute;top:36px;left:0;width:100%;height:1px;background-color:#dfdee1;content:''}
.cs_mapbridge .btn_class+.ar_content .map_area .btn_zoomin,.cs_mapbridge .ar_mgroup .map_area .btn_zoomout{width:36px;height:36px}
.cs_mapbridge .btn_class+.ar_content .map_area .btn_zoomin .spm{width:18px;height:18px;background-position:-98px -46px;vertical-align:-2px}
.cs_mapbridge .btn_class+.ar_content .map_area .btn_zoomin.off .spm{width:18px;height:18px;background-position:-98px -66px;vertical-align:-2px}
.cs_mapbridge .btn_class+.ar_content .map_area .btn_zoomout .spm{width:18px;height:2px;background-position:-127px -51px;vertical-align:4px}
.cs_mapbridge .btn_class+.ar_content .map_area .btn_zoomout.off .spm{width:18px;height:4px;background-position:-128px -54px;vertical-align:4px}
.cs_mapbridge .btn_class+.ar_content .map_area .control_reset{top:60px;left:9px}
.cs_mapbridge .btn_class+.ar_content .map_area .control_reset button{width:36px;height:36px;font-size:12px;line-height:38px;color:#7a8092;text-align:center}
.cs_mapbridge .btn_class+.ar_content .map_area .control_reset .spm{width:20px;height:20px;margin-top:8px;background-position:-127px -19px}
.cs_mapbridge .btn_class+.ar_content .map_area .control_myposition{top:104px;left:9px}
.cs_mapbridge .btn_class+.ar_content .map_area .control_myposition button{width:36px;height:36px;font-size:12px;line-height:38px;color:#7a8092;text-align:center}
.cs_mapbridge .btn_class+.ar_content .map_area .control_myposition .spm{width:22px;height:22px;margin-top:7px;background-position:-92px -19px}

/* 새로고침/줌 버튼 */
.cs_mapbridge .ar_content .map_area div[class^=control_]{position:absolute;z-index:5;border:1px solid rgba(94,96,107,.35)}
.cs_mapbridge .ar_content .map_area div[class^=control_] button{display:block;border:0;background-color:rgba(255,255,255,.90);color:#848597;cursor:pointer}
.cs_mapbridge .ar_mgroup .map_area .spm{display:inline-block;overflow:hidden;width:21px;height:21px;background:url(../im/sp_area.png) no-repeat;background-size:150px 95px;-webkit-background-size:150px 95px;color:transparent;content:''}
.cs_mapbridge .ar_mgroup .map_area .control_zoom{top:103px;right:10px}
.cs_mapbridge .ar_mgroup .map_area .control_zoom:after{position:absolute;top:36px;left:0;width:100%;height:1px;background-color:#dfdee1;content:''}
.cs_mapbridge .ar_mgroup .map_area .btn_zoomin,.cs_mapbridge .ar_mgroup .map_area .btn_zoomout{width:36px;height:36px}
.cs_mapbridge .ar_mgroup .map_area .btn_zoomin .spm{width:18px;height:18px;background-position:-98px -46px;vertical-align:-2px}
.cs_mapbridge .ar_mgroup .map_area .btn_zoomin.off .spm{width:18px;height:18px;background-position:-98px -66px;vertical-align:-2px}
.cs_mapbridge .ar_mgroup .map_area .btn_zoomout .spm{width:18px;height:2px;background-position:-127px -51px;vertical-align:4px}
.cs_mapbridge .ar_mgroup .map_area .btn_zoomout.off .spm{width:18px;height:4px;background-position:-128px -54px;vertical-align:4px}
.cs_mapbridge .ar_mgroup .map_area .control_reset{top:103px;left:10px}
.cs_mapbridge .ar_mgroup .map_area .control_reset button{width:36px;height:36px;font-size:12px;line-height:38px;color:#7a8092;text-align:center}
.cs_mapbridge .ar_mgroup .map_area .control_reset .spm{width:20px;height:20px;margin-top:8px;background-position:-127px -19px}
.cs_mapbridge .ar_mgroup .map_area .control_myposition{top:146px;left:10px}
.cs_mapbridge .ar_mgroup .map_area .control_myposition button{width:36px;height:36px;font-size:12px;line-height:38px;color:#7a8092;text-align:center}
.cs_mapbridge .ar_mgroup .map_area .control_myposition .spm{width:22px;height:22px;margin-top:7px;background-position:-92px -19px}

/* 마커 */
.cs_mapbridge .ar_mgroup .map_marker.food_big,.map_marker.wh_big,.map_marker.go_big,.map_marker.hp_big,.map_marker.num1_big,.map_marker.num2_big,.map_marker.num3_big,.map_marker.num4_big,.map_marker.num5_big,.map_marker.num6_big,.map_marker.num7_big,.map_marker.num8_big{position:absolute;width:20px;height:20px;z-index:5}
.cs_mapbridge .ar_mgroup .map_marker.food,.map_marker.wh,.map_marker.go,.map_marker.hp,.map_marker.num1,.map_marker.num2,.map_marker.num3,.map_marker.num4,.map_marker.num5,.map_marker.num6,.map_marker.num7,.map_marker.num8{position:absolute;width:20px;height:20px;z-index:5}
.cs_mapbridge .ar_mgroup .map_marker[class*=_big]{z-index:6}

/* 마커아이콘 */
.cs_mapbridge .ar_mgroup .map_marker .ico,.shd{position:absolute;background:url(../im/sp_ico.png) no-repeat;background-size:400px 300px;-webkit-background-size:400px 300px;z-index:10;-webkit-transform:rotateZ(0deg);transform:rotateZ(0deg);zoom:1}
.cs_mapbridge .ar_mgroup .map_marker .ico:after{position:absolute;top:-5px;right:-5px;bottom:-5px;left:-5px;background-color:transparent;content:'';z-index:30}
.cs_mapbridge .map_marker.go .ico{top:-18px;left:-4px;width:28px;height:37px;background-position:-141px -89px}
.cs_mapbridge .map_marker.go .shd{top:-8px;left:9px;width:28px;height:28px;background-position:0 -218px}
.cs_mapbridge .map_marker.wh .ico{top:-18px;left:-4px;width:28px;height:37px;background-position:-94px -89px}
.cs_mapbridge .map_marker.wh .shd{top:-8px;left:9px;width:28px;height:28px;background-position:0 -218px}
.cs_mapbridge .map_marker.food .ico{top:-18px;left:-4px;width:28px;height:37px;background-position:1px -89px}
.cs_mapbridge .map_marker.food .shd{top:-8px;left:9px;width:28px;height:28px;background-position:0 -218px}
.cs_mapbridge .map_marker.hp .ico{top:-18px;left:-4px;width:28px;height:37px;background-position:-48px -89px}
.cs_mapbridge .map_marker.hp .shd{top:-8px;left:9px;width:28px;height:28px;background-position:0 -218px}
.cs_mapbridge .map_marker.num1 .ico{top:-16px;left:-4px;width:27px;height:36px;background-position:0 -182px}
.cs_mapbridge .map_marker.num1 .shd{top:-8px;left:9px;width:28px;height:28px;background-position:0 -218px}
.cs_mapbridge .map_marker.num2 .ico{top:-16px;left:-4px;width:27px;height:36px;background-position:-29px -182px}
.cs_mapbridge .map_marker.num2 .shd{top:-8px;left:9px;width:28px;height:28px;background-position:0 -218px}
.cs_mapbridge .map_marker.num3 .ico{top:-16px;left:-4px;width:27px;height:36px;background-position:-59px -182px}
.cs_mapbridge .map_marker.num3 .shd{top:-8px;left:9px;width:28px;height:28px;background-position:0 -218px}
.cs_mapbridge .map_marker.num4 .ico{top:-16px;left:-4px;width:27px;height:36px;background-position:-89px -182px}
.cs_mapbridge .map_marker.num4 .shd{top:-8px;left:9px;width:28px;height:28px;background-position:0 -218px}
.cs_mapbridge .map_marker.num5 .ico{top:-16px;left:-4px;width:27px;height:36px;background-position:-119px -182px}
.cs_mapbridge .map_marker.num5 .shd{top:-8px;left:9px;width:28px;height:28px;background-position:0 -218px}
.cs_mapbridge .map_marker.num6 .ico{top:-16px;left:-4px;width:27px;height:36px;background-position:-149px -182px}
.cs_mapbridge .map_marker.num6 .shd{top:-8px;left:9px;width:28px;height:28px;background-position:0 -218px}
.cs_mapbridge .map_marker.num7 .ico{top:-16px;left:-4px;width:27px;height:36px;background-position:-180px -182px}
.cs_mapbridge .map_marker.num7 .shd{top:-8px;left:9px;width:28px;height:28px;background-position:0 -218px}
.cs_mapbridge .map_marker.num8 .ico{top:-16px;left:-4px;width:27px;height:36px;background-position:-209px -182px}
.cs_mapbridge .map_marker.num8 .shd{top:-8px;left:9px;width:28px;height:28px;background-position:0 -218px}
.cs_mapbridge .map_marker.go_big .ico{top:-34px;left:-9px;width:39px;height:55px;background-position:-141px 0}
.cs_mapbridge .map_marker.go_big .shd{top:-6px;left:-1px;width:47px;height:32px;background-position:-141px -58px}
.cs_mapbridge .map_marker.wh_big .ico{top:-34px;left:-9px;width:39px;height:55px;background-position:-94px 0}
.cs_mapbridge .map_marker.wh_big .shd{top:-6px;left:-1px;width:48px;height:31px;background-position:-94px -59px}
.cs_mapbridge .map_marker.food_big .ico{top:-34px;left:-9px;width:39px;height:55px;background-position:0 0}
.cs_mapbridge .map_marker.food_big .shd{top:-6px;left:-1px;width:47px;height:32px;background-position:0 -58px}
.cs_mapbridge .map_marker.hp_big .ico{top:-34px;left:-9px;width:39px;height:55px;background-position:-48px 0}
.cs_mapbridge .map_marker.hp_big .shd{top:-6px;left:-1px;width:47px;height:32px;background-position:-48px -58px}
.cs_mapbridge .map_marker.num1_big .ico{top:-34px;left:-10px;width:39px;height:55px;background-position:-198px 0px}
.cs_mapbridge .map_marker.num1_big .shd{top:-6px;left:-1px;width:48px;height:31px;background-position:-199px -59px}
.cs_mapbridge .map_marker.num2_big .ico{top:-34px;left:-10px;width:39px;height:55px;background-position:-243px 0px}
.cs_mapbridge .map_marker.num2_big .shd{top:-6px;left:-1px;width:48px;height:31px;background-position:-199px -59px}
.cs_mapbridge .map_marker.num3_big .ico{top:-34px;left:-10px;width:39px;height:55px;background-position:-288px 0px}
.cs_mapbridge .map_marker.num3_big .shd{top:-6px;left:-1px;width:48px;height:31px;background-position:-199px -59px}
.cs_mapbridge .map_marker.num4_big .ico{top:-34px;left:-10px;width:39px;height:55px;background-position:0px -126px}
.cs_mapbridge .map_marker.num4_big .shd{top:-6px;left:-1px;width:48px;height:31px;background-position:-199px -59px}
.cs_mapbridge .map_marker.num5_big .ico{top:-34px;left:-10px;width:39px;height:55px;background-position:-48px -126px}
.cs_mapbridge .map_marker.num5_big .shd{top:-6px;left:-1px;width:48px;height:31px;background-position:-199px -59px}
.cs_mapbridge .map_marker.num6_big .ico{top:-34px;left:-10px;width:39px;height:55px;background-position:-94px -126px}
.cs_mapbridge .map_marker.num6_big .shd{top:-6px;left:-1px;width:48px;height:31px;background-position:-199px -59px}
.cs_mapbridge .map_marker.num7_big .ico{top:-34px;left:-10px;width:39px;height:55px;background-position:-141px -126px}
.cs_mapbridge .map_marker.num7_big .shd{top:-6px;left:-1px;width:48px;height:31px;background-position:-199px -59px}
.cs_mapbridge .map_marker.num8_big .ico{top:-34px;left:-10px;width:39px;height:55px;background-position:-198px -126px}
.cs_mapbridge .map_marker.num8_big .shd{top:-6px;left:-1px;width:48px;height:31px;background-position:-199px -59px}

/* 내 위치 */
.cs_mapbridge .map_marker_myposition{display:inline-block;width:62px;height:62px;position:absolute;top:-10px;left:-1px;background:url(../im/marker_myposition.png) no-repeat;background-size:62px 62px;-webkit-background-size:62px 62px;overflow:hidden;color:transparent;z-index:5}

/* 레이어 팝업 */
.cs_mapbridge .gr_layer{position:absolute;overflow:hidden;right:0;left:0px;bottom:10px;height:109px}
.cs_mapbridge .gr_layer .cared_area{margin:0 10px;border:1px solid rgba(0,0,0,.1)}
.cs_mapbridge .gr_layer_card{display:block;position:relative;height:107px;padding:20px 14px 21px 18px;background-color:rgba(255,255,255,.95);box-sizing:border-box;-webkit-box-sizing:border-box}
.cs_mapbridge .gr_layer_card .thmb{display:block;overflow:hidden;position:absolute;top:-1px;right:-1px}
.cs_mapbridge .gr_layer_card .thmb:after{content:'';position:absolute;top:0;left:0;right:0;bottom:0;border:1px solid rgba(0,0,0,.05)}
.cs_mapbridge .gr_layer_card .thmb.no_img img{display:none}
.cs_mapbridge .gr_layer_card .thmb.no_img{display:block;width:109px;height:109px;background:url(../im/bg_noimg.png) no-repeat;background-size:109px 109px}
.cs_mapbridge .gr_layer_card .layer_cont{overflow:hidden}
.cs_mapbridge .gr_layer_card .layer_cont .tlt{display:block;overflow:hidden;margin-bottom:3px;line-height:19px;color:#a3a3a3;white-space:nowrap;text-overflow:ellipsis}
.cs_mapbridge .gr_layer_card .layer_cont .tlt strong{font-size:19px;font-weight:normal;color:#000}
.cs_mapbridge .gr_layer_card .layer_cont .tlt em{margin-left:6px;font-size:14px;color:#999}
.cs_mapbridge .gr_layer_card a{display:block;padding-right:109px}
.cs_mapbridge .spot_pop .spot_cont{display:block;min-height:41px;margin-top:4px;padding-right:14px;overflow:hidden}
.cs_mapbridge .spot_cont .tlt{display:block;overflow:hidden;margin-top:5px;line-height:19px;color:#a3a3a3;white-space:nowrap;text-overflow:ellipsis}
.cs_mapbridge .spot_cont .cont_txt.plain{float:left;clear:both;display:block;overflow:hidden;position:relative;max-width:100%;margin:5px 0 1px 0;font-size:14px;line-height:16px;color:#666;text-overflow:ellipsis;white-space:normal;display:flex;display:-webkit-box;flex-direction:column;-webkit-box-orient:vertical;-webkit-line-clamp:2;text-overflow:ellipsis;word-wrap:break-word;box-sizing:border-box;-webkit-box-sizing:border-box}
.cs_mapbridge .spot_cont .cont_txt.plain+.cont_txt{display:none}
.cs_mapbridge .spot_cont .cont_txt{float:left;clear:both;display:block;overflow:hidden;position:relative;max-width:100%;margin:5px 0 1px 0;font-size:14px;line-height:16px;color:#666;text-overflow:ellipsis;white-space:nowrap;box-sizing:border-box;-webkit-box-sizing:border-box}
.cs_mapbridge .spot_cont .cont_txt.micro{float:left;clear:both;display:block;overflow:hidden;position:relative;max-width:100%;margin:5px 0 1px 0;padding:0 13px 0 13px;font-size:14px;line-height:16px;color:#666;text-overflow:ellipsis;white-space:nowrap;box-sizing:border-box;-webkit-box-sizing:border-box}
.cs_mapbridge .spot_cont .cont_txt.micro:before{position:absolute;top:-2px;left:0;width:12px;height:15px;margin-right:4px;background:url(../im/sp_area.png) no-repeat 0 -38px;background-size:150px 95px;-webkit-background-size:150px 95px;content:''}
.cs_mapbridge .spot_cont .cont_txt.micro:after{position:absolute;top:-2px;right:0;width:12px;height:15px;margin-left:4px;background:url(../im/sp_area.png) no-repeat -15px -38px;background-size:150px 95px;-webkit-background-size:150px 95px;content:''}

/* 레이어 목록 */
.cs_mapbridge .gr_listlayer{overflow:hidden;overflow-y:auto;position:absolute;top:50%;left:50%;z-index:5;width:230px;height:auto;max-height:210px;border:1px solid rgba(94,96,107,.2);background-color:rgba(255,255,255,.95);transform:translateY(-50%) translateX(-50%);-webkit-transform:translateY(-50%) translateX(-50%);box-sizing:border-box;-webkit-box-sizing:border-box;border-radius:1px;-webkit-border-radius:1px;z-index:30}
.cs_mapbridge .gr_listlayer li{overflow:hidden;height:45px;border-bottom:1px solid #e0e0e1}
.cs_mapbridge .gr_listlayer li:last-child{height:46px;border-bottom:0}
.cs_mapbridge .gr_listlayer li > a{display:block;height:45px;padding:1px 5px 0 14px}
.cs_mapbridge .gr_listlayer li .ico{display:inline-block;overflow:hidden;width:20px;height:27px;margin-top:-1px;margin-right:7px;background:url(../im/sp_ico.png) no-repeat 0 -218px;background-size:400px 300px;-webkit-background-size:400px 300px;color:transparent;vertical-align:middle}
.cs_mapbridge .gr_listlayer li .txt{display:inline-block;overflow:hidden;max-width:165px;line-height:45px;font-size:15px;color:#a3a3a3;vertical-align:middle;white-space:nowrap;text-overflow:ellipsis}
.cs_mapbridge .gr_listlayer li .txt strong{margin-right:6px;font-weight:normal;color:#000}
.cs_mapbridge .gr_listlayer li .txt em{font-size:14px;color:#a3a3a3}
.cs_mapbridge .gr_listlayer li .ico.food{background-position:-354px -4px}
.cs_mapbridge .gr_listlayer li .ico.go{background-position:-354px -94px}
.cs_mapbridge .gr_listlayer li .ico.wh{background-position:-354px -64px}
.cs_mapbridge .gr_listlayer li .ico.hp{background-position:-354px -34px}
.cs_mapbridge .gr_listlayer li .ico.num1{height:20px;background-position:-244px -95px}
.cs_mapbridge .gr_listlayer li .ico.num2{height:20px;background-position:-268px -95px}
.cs_mapbridge .gr_listlayer li .ico.num3{height:20px;background-position:-293px -95px}
.cs_mapbridge .gr_listlayer li .ico.num4{height:20px;background-position:-243px -117px}
.cs_mapbridge .gr_listlayer li .ico.num5{height:20px;background-position:-268px -117px}
.cs_mapbridge .gr_listlayer li .ico.num6{height:20px;background-position:-293px -117px}
.cs_mapbridge .gr_listlayer li .ico.num7{height:20px;background-position:-243px -141px}
.cs_mapbridge .gr_listlayer li .ico.num8{height:20px;background-position:-269px -141px}

/* 내위치 아님 */
.cs_mapbridge .gr_info{position:absolute;top:0;right:0;left:0;bottom:0;z-index:30;width:100%;height:100%;background-color:rgba(0,0,0,.6)}
.cs_mapbridge .gr_info .info_group{position:absolute;top:50%;right:0;left:0;width:100%;padding-top:25px;text-align:center;transform:translateY(-50%);-webkit-transform:translateY(-50%);box-sizing:border-box;-webkit-box-sizing:border-box}
.cs_mapbridge .gr_info .info_group span:before{position:absolute;top:-25px;left:50%;width:17px;height:17px;margin-left:-9px;background:url(../im/sp_area.png) no-repeat 0 -72px;background-size:150px 95px;-webkit-background-size:150px 95px;content:''}
.cs_mapbridge .gr_info .info_group .info_pop{width:294px;height:140px;margin:0 auto;padding:27px 0 28px 0;color:#333;font-size:15px;text-align:center;background-color:#f4f6f7;border-radius:2px;-webkit-border-radius:2px;box-sizing:border-box;-webkit-box-sizing:border-box}
.cs_mapbridge .gr_info .info_group .thmb{display:inline-block;overflow:hidden;position:relative;width:95px;height:95px;border-radius:48px;-webkit-border-radius:48px}
.cs_mapbridge .gr_info .info_group .thmb:before{display:block;position:absolute;top:0;left:0;width:100%;height:100%;border:1px solid #000;border-radius:48px;-webkit-border-radius:48px;opacity:.05;-webkit-box-sizing:border-box;box-sizing:border-box;content:''}
.cs_mapbridge .gr_info .info_group .thmb img{border-radius:48px;-webkit-border-radius:48px;vertical-align:top}
.cs_mapbridge .gr_info .info_group .pin{position:absolute;top:50%;left:50%;width:26px;height:36px;margin:-18px 0 0 -13px}
.cs_mapbridge .gr_info .info_group .pin .ico{position:absolute;top:0;left:0;width:26px;height:37px;background:url(../im/sp_ico.png) no-repeat;background-size:400px 300px;-webkit-background-size:400px 300px;z-index:20}
.cs_mapbridge .gr_info .info_group .pin .shd{position:absolute;top:9px;left:13px;width:28px;height:28px;background:url(../im/sp_ico.png) no-repeat 0 -218px;background-size:400px 300px;-webkit-background-size:400px 300px}
.cs_mapbridge .gr_info .info_group .pin.food .ico{background-position:0 -89px}
.cs_mapbridge .gr_info .info_group .pin.hp .ico{background-position:-175px 0}
.cs_mapbridge .gr_info .info_group .pin.wh .ico{background-position:-245px 0}
.cs_mapbridge .gr_info .info_group .pin.go .ico{background-position:0 -150px}
.cs_mapbridge .gr_info .info_group .btn_map:before{position:absolute;top:0;left:0;right:0;bottom:0;border:1px solid #3f82e4;content:''}
.cs_mapbridge .gr_info .info_group .btn_map{display:block;position:relative;width:132px;height:33px;margin:13px auto 0 auto;font-size:14px;line-height:30px;color:#fff;background-color:#4d8afb}

/* sid가 없는경우 */
.cs_mapbridge .gr_info2{position:absolute;top:0;right:0;left:0;bottom:0;z-index:40;width:100%;height:100%;background-color:#f2f4f7}
.cs_mapbridge .gr_info2 .info_group2{position:absolute;top:50%;right:0;left:0;width:100%;padding-top:25px;text-align:center;transform: translateY(-50%);-webkit-transform:translateY(-50%);box-sizing:border-box;-webkit-box-sizing:border-box}
.cs_mapbridge .gr_info2 .info_group2 p{position:relative;font-size:21px;line-height:27px;color:#56565a}
.cs_mapbridge .gr_info2 .info_group2 p:before{position:absolute;top:-25px;left:50%;width:17px;height:17px;margin-left:-9px;background:url(../im/sp_area.png) no-repeat 0 -72px;background-size:150px 95px;-webkit-background-size:150px 95px;content:''}

@media all and (max-width:320px){
.btn_class{display:none}   
}